*{
    font-family: lato;
}

.all-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDEDF1;
}
.head-des{
    margin-left: 180px;
    width: 700px;
}
.head-des h1{
    font-size: 80px;
    font-weight: 1100;
    color: #272727;
}
.head-des p{
    font-size: 18px;
    margin: 32px 0px;
    color: #2727279f;
    line-height: 25px;
    font-weight: 400;
}
.all-btn{
    background-color: #E55473;
    color: white;
    padding: 20px 43px;
    align-items: flex-start;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
}
.all-btn:hover{
    background-color: rgb(0, 0, 0);
    color: #FDEDF1;
}
.all-head img{
    margin-right: 180px;
    margin-top: 50px;
}
/* pick flower section  */

.pick-flower-section{
    margin: 150px 180px 0px;
}
.pick-flower-box{
    display: flex;
    justify-content: space-between;
}
.pick-flower-section h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 780px;
}
.pick-flower-des{
    width: 580px;
    margin: auto;
}
.pick-flower-section p{
    color: #2727279f;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}
.first-flower{
    width: 450px;
    height: 520px;
}
.first-flower img{
    background-color: #F2DEE6;
    border-radius: 300px 300px 0px 0px;
    padding: 110px 78px 0px 76px;
}
.first-flower h5{
    color: #272727;
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
    font-weight: 660;
}
.secnd-flower{
    width: 450px;
    height: 520px;
}
.secnd-flower img{
    background-color: #D9EFF1;
    border-radius: 300px 300px 0px 0px;
    padding: 117px 47px 51px 47px;
}
.secnd-flower h5{
    color: #272727;
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
    font-weight: 660;
}
.trd-flower{
    width: 450px;
    height: 520px;
}
.trd-flower img{
    background-color: #E2EADB;
    border-radius: 300px 300px 0px 0px;
    padding: 67px 75px 0px;
}
.trd-flower h5{
    color: #272727;
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
    font-weight: 660;
}

/* Feature section */

.feature-section{
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    margin: 150px 180px 0px;
    border-radius: 8px;
    padding: 86px 175px;
}
.feature-des{
    color: #505050;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.feature-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* hot deal section */

.hot-deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDEDF1;
    margin-top: 150px;
    padding: 100px 0px;
}
.hot-deal-content{
    padding-left: 200px;
    text-align: center;
    margin-left: 180px;
    padding-right: 120px;
}
.hot-deal-content h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-content p{
    color: #505050;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.hot-deal img{
    margin-right: 180px;
    padding-right: 250px;
}
.hot-deal-span{
    color: #E55473;
}
/* instagram section */

.insta-section{
    margin: 150px 180px 0px;
    text-align: center;
}
.insta-section h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.insta-section p{
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 594px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.instagram-image{
    display: flex;
    justify-content: space-between;
}
.instagram-image img{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.367);
}

/* extra section */

.extra-section{
    display: flex;
    justify-content: space-between;
    background-color: #D9EFF1;
    margin-top: 150px;
    text-align: center;
    padding: 0px 200px 30px;
}
.extra-section h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.extra-section p{
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
}
 
/* subscription section */

.subscription{
    background-image: url('../image/s6bgimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px 180px 0px;
    height: 449px;
    text-align: center;
    padding: 100px 0px;
}
.subscription h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.subscription p{
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 48px;
    margin-top: -20px;
}
.mail-box{
    border: 0;
    border-radius: 8px;
    height: 64px;
    width: 700px;
    margin-right: 20px;
}

/* footer section */

.foot-section{
    color: white;
    background-color: #111010;
    height: 449px;
    text-align: center;
    margin-top: 150px;
    padding: 100px 0px;
}
.foot-span{
    color: #E55473;
}
.foot-section h2{
    font-size: 48px;
    font-weight: 800;
}
.foot-section p{
    width: 625px;
    margin-left: auto;
    margin-right: auto;
    color: #DADADA;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-top: -15px;
    margin-bottom: 30px;
}
.foot-section small{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}